<launch>
	<node pkg="joy" type="joy_node" name="joy_node">
		<param name="dev" type="string" value="/dev/input/js0"/>
	</node>

	<node pkg="pr_kpp_test_joycon" type="pr_kpp_joycon_node" name="pr_kpp_joycon_node"> </node>

	<node pkg="pr_kick" name="kick_node" type="kick_node">
		<param name="FREQ"   value="100"/>
		<param name="POW"    value="255"/>
		<param name="DELAY"  value="10"/>
	</node>

	<node pkg="pr_load" name="load_ball_node" type="load_ball_node">
		<param name="MOT_SLIDE_PW"    value="-155"/>
		<param name="MOT_RAISE_PW"    value="-100"/>
		<param name="MOT_LOWER_PW"    value="100"/>
		<param name="MOT_GRASP_PW"    value="150"/>
		<param name="ENC_LIFT_MIDDLE" value="-11195"/>
		<param name="DELAY_HOLD"      value="400"/>
		<param name="DELAY_SET"       value="1000"/>
	</node>

	<node pkg="rosserial_python" type="serial_node.py" name="serial_node0">
		<param name="port" value="/dev/ttyACM0"/>
	</node>
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node1">
		<param name="port" value="/dev/ttyACM1"/>
	</node>
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node2">
		<param name="port" value="/dev/ttyACM2"/>
	</node>
</launch>

