<launch>
	<rosparam command="load" file="$(find pr_pick_pass)/pp_param.yaml"/>
	<node pkg="joy" type="joy_node" name="joy_node">
		<param name="dev" type="string" value="/dev/input/js0"/>
	</node>

	<node pkg="pr_kpp_test_joycon" type="pr_kpp_joycon_node" name="pr_kpp_joycon_node"> </node>

	<node pkg="pr_pick_pass" name="pick_pass_node" type="pick_pass_node"/>

	<node pkg="rosserial_python" type="serial_node.py" name="serial_node0">
		<param name="port" value="/dev/ttyACM0"/>
	</node>
</launch>

