<launch>
	<rosparam command="load" file="$(find pr_kick)/kick_param.yaml"/>
	<rosparam command="load" file="$(find pr_load)/load_param.yaml"/>

	<node pkg="joy" type="joy_node" name="joy_node">
		<param name="dev" type="string" value="/dev/input/js0"/>
	</node>

	<node pkg="pr_kpp_test_joycon" type="pr_kpp_joycon_node" name="pr_kpp_joycon_node"/> 
	<node pkg="pr_kick" name="kick_node" type="kick_node"/>
	<node pkg="pr_load" name="load_ball_node" type="load_ball_node"/>

	<node pkg="rosserial_python" type="serial_node.py" name="serial_node0">
		<param name="port" value="/dev/ttyACM0"/>
	</node>
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node1">
		<param name="port" value="/dev/ttyACM1"/>
	</node>
	<node pkg="rosserial_python" type="serial_node.py" name="serial_node2">
		<param name="port" value="/dev/ttyACM2"/>
	</node>
</launch>

