<launch>
  <rosparam command="load" file="$(find pr)/constant.yaml"/>
  <rosparam command="load" file="$(find pr)/state.yaml"/>

  <arg name="arduino_port" value="/dev/ttyACM0"/>

  <param name="/joy_node/dev" value="/dev/input/js0"/>

  <node pkg="rosserial_python" name="serial_node"
    type="serial_node.py" args="$(arg arduino_port)"/>
  <node pkg="joy" name="joy" type="joy_node"/>

  <node pkg="pr" name="task_manager" type="pr_task_manager.py"/>
  <node pkg="pr" name="arduino_driver" type="pr_arduino_driver.py"/>

	<node pkg="urg_node" name="urg_node" type="urg_node">
	      <param name="frame_id" value="laser"/>
	      <param name="angle_min" value="-1.17196"/>
	      <param name="angle_max" value="1.17196"/>
	</node>
	<node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
	      <param name="base_frame" value="base_link"/>
	      <param name="odom_frame" value="odom"/>
	      <param name="maxUrange" value="30.0"/>
	      <param name="maxRange" value="60.0"/>
	      <param name="srr" value="0.5"/>
	      <param name="srt" value="0.5"/>
	      <param name="str" value="0.4"/>
	      <param name="stt" value="0.6"/>
	      <param name="particles" value="100"/>
	      <param name="xmin" value="-10"/>
	      <param name="xmax" value="10"/>
	      <param name="ymin" value="-10"/>
	      <param name="ymax" value="10"/>
	      <param name="linearUpdate" value="0.5"/>
	      <param name="map_update_interval" value="0.5"/>
	      <param name="lskip" value="0"/>
	      <param name="delta" value="0.025"/>
		  <param name="transform_publish_period" value="0.01"/>
	</node>
	
</launch>
