<launch>
  <rosparam command="load" file="$(find pr)/constant.yaml"/>
  <rosparam command="load" file="$(find pr)/state.yaml"/>

  <param name="/joy_node/dev" value="/dev/input/js0"/>
  <node pkg="joy" name="joy" type="joy_node"/>

  <node pkg="pr" name="tfListener" type="pr_tf_listener.py" output="screen"/>

  <node pkg="pr" name="task_manager" type="pr_task_manager.py"/>

  <node pkg="pr" type="pr_likelyhood_field_creator" name="pr_likelyhood_field_creator" output="screen"/>
  <node pkg="pr" type="pr_global_planner" name="global_planner" output="screen"/>
  <node pkg="pr" type="pr_motion_planner" name="motion_planner" output="screen"/>


</launch>
