<launch>
    <rosparam command="load" file="$(find pr)/constant.yaml"/>
    <rosparam command="load" file="$(find pr)/state.yaml"/>
    <arg name="arduino_port" value="/dev/ttyACM0"/>

    <node pkg="pr" name="tfListener" type="pr_tf_listener.py" output="screen"/>
    <node pkg="pr" name="task_manager" type="pr_task_manager.py"/>
    
  <node pkg="rosserial_python" name="serial_node"
    type="serial_node.py" args="$(arg arduino_port)"/>
  <node pkg="rosserial_python" name="arduino_gyro" type="serial_node.py" args="/dev/ttyACM1"/>


</launch>
